* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img,
video {
  max-width: 100%;
  max-height: 100vh;
}

textarea {
  resize: none;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* loader */
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.photographer_section article a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s;
}

.photographer_section article a:focus {
  opacity: 0.6;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  /* zoom: 150%; */
  border-radius: 50%;
  object-fit: cover;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
}

.photographer_section article h3 {
  color: #901c1c;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.photographer_section article h4 {
  color: #000000;
  font-size: 13px;
  margin-bottom: 0.5rem;
}

.photographer_section article p {
  color: #757575;
  font-size: 12px;
}

/* media quieries */
@media screen and (max-width: 992px) {
  body {
    /* background-color: blue; */
    padding: 1rem;
  }
  header {
    flex-direction: column;
    font-size: 1rem;
    /* justify-content: space-between; */
    width: 100%;
  }
  header a {
    display: flex;
    /* justify-content: flex-start; */
    /* text-align: left; */
    width: 100%;
    margin: 0;
    padding: 0;
    /* background: #757575; */
  }
  .logo {
    /* background: #901c1c; */
    margin: 0;
    /* text-align: left; */
  }
  header h1 {
    text-align: right;
    width: 100%;
  }
  .photographer_section {
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 600px) {
  .photographer_section {
    grid-template-columns: 1fr;
    gap: 70px;
    margin-top: 100px;
  }
}
.photograph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 3rem;
}

.photograph-header-descr {
  width: auto;
}

.photograph-header h1 {
  color: #d3573c;
  font-size: 64px;
  font-weight: 400;
  line-height: 83px;
  margin-bottom: 1rem;
}

.photograph-header h2 {
  color: #901c1c;
  font-size: 35px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 1.5rem;
}

.photograph-header h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.photograph-header img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

/************************** Modal *************************/
#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 1rem;
  z-index: 1000;
}

.contact_button,
.submit-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover,
.submit-button:hover {
  background-color: #d3573c;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 0.5rem auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  height: 10rem;
}

.modal header img {
  cursor: pointer;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.modal header h2 {
  font-size: 55px;
  font-weight: normal;
  text-align: left;
}

form label {
  color: #312e2e;
  font-size: 32px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  font-size: 2rem;
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  padding-left: 1rem;
}

#msg {
  border-radius: 5px;
  border: none;
  height: 10rem;
  width: 100%;
  font-size: 2rem;
  padding: 1rem;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.8rem;
  color: #901c1c;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible=true]::after {
  opacity: 1;
}

.formData[data-error-visible=true] .input {
  border: 2px solid #901c1c;
}

input[data-error]::after {
  content: attr(data-error);
  font-size: 2rem;
  color: #901c1c;
}

/* optioins de tri */
.photograph-sort {
  display: flex;
  align-items: baseline;
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  margin-left: 100px;
}

.photograph-sort label {
  font-weight: 700;
  font-size: 16px;
  padding-right: 15px;
}

.sort-list {
  position: relative;
}

.sort-list button {
  cursor: pointer;
  width: 160px;
  height: 50px;
  border-radius: 0;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #fafafa;
  text-align: left;
  background-color: #901c1c;
  padding-left: 15px;
}

.sort-list button i {
  position: absolute;
  right: 15px;
  transition: 0.3s ease-out;
}

.sort-list button:hover,
.sort-list button:focus-visible {
  outline: none;
  background: #db8876;
  transition: background ease 0.2s;
}

.selected {
  border-radius: 5px;
}

.options {
  margin-top: -4px;
  display: flex;
  flex-direction: column;
  transform-origin: 50% 0%;
  transition: 0.2s linear;
}

.options:nth-child(1):after {
  content: " ";
  padding: 1px 70px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 45px;
  right: 10px;
}

.options:nth-child(1):before {
  content: " ";
  padding: 1px 70px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 95px;
  right: 10px;
}

.options:nth-child(2) {
  border-radius: 0 0 5px 5px;
}

.chevron-up {
  transform: rotate(-180deg);
  transition: 0.3s ease-out;
}

.hidden {
  transform: scaleY(0);
  transition: 0.2s linear;
}

/********************************** img container ********************************/
.photograph-imgs-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7rem;
  padding: 3rem;
}

.media-img-card {
  text-decoration: none;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.media-img-card img,
.media-img-card video {
  height: 30rem;
  width: 100%;
  object-fit: cover;
}

.textContainer {
  color: #901c1c;
  margin-top: 1rem;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
}

.likeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 3rem;
  font-weight: 800;
}

.likeContainer .fa-solid,
.fa-regular {
  cursor: pointer;
  height: 1.2rem;
  width: auto;
}

.explain {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.likeContainer .fa-solid {
  display: none;
}

/* sticky container */
.likeprice-container {
  position: sticky;
  bottom: 0;
  /* right: 0; */
  left: 80%;
  width: 25%;
  background-color: #db8876;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
}

/* heart */
.heart-checkbox input[type=checkbox],
.heart-checkbox .checked {
  display: none;
}

.heart-checkbox {
  cursor: pointer;
}

.heart-checkbox i {
  /* margin: 2rem 0; */
  font-size: 1rem;
}

.heart-checkbox .checked {
  color: var(--main-red);
  display: none;
}

.heart-checkbox input[type=checkbox] {
  display: none;
}

.heart-checkbox input[type=checkbox]:checked ~ .checked {
  display: inline-block;
}

.heart-checkbox input[type=checkbox]:checked ~ .unchecked {
  display: none;
}

/* media queries */
@media screen and (max-width: 992px) {
  .photograph-header {
    padding: 0;
    margin: 1rem;
    flex-direction: column;
    height: 25rem;
    justify-content: space-between;
  }
  .photograph-imgs-container {
    margin-top: 4rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .likeprice-container {
    width: 50%;
  }
  .modal {
    display: flex;
    justify-content: flex-start;
    height: 90%;
    width: 90%;
    margin: 0 2rem;
    padding: 0 2rem;
    /* font-size: 1rem; */
  }
  .modal header {
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* height: 10rem; */
    /* margin-bottom: 0; */
  }
  header h2 {
    font-size: 5px;
  }
  form {
    padding: 0;
  }
  .modal label {
    font-size: 1.5rem;
  }
  .modal input {
    height: 3rem;
  }
  #msg {
    height: 5rem;
  }
  form button {
    height: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .photograph-header {
    padding: 0;
    flex-direction: column;
    margin: 1rem;
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    height: 40rem;
  }
  .photograph-header-descr,
  .photograph-header button {
    margin-bottom: 2rem;
    text-align: center;
  }
  .photograph-imgs-container {
    /* display: grid; */
    grid-template-columns: 1fr;
    /* gap: 7rem; */
    /* padding: 3rem; */
    padding-top: 5rem;
  }
  .likeprice-container {
    width: 85%;
  }
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #fff;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: #9ca2b0;
  border-radius: 4px;
}

.lightbox::-webkit-scrollbar-track {
  background: black;
}

.lightbox::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

.lightbox-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  overflow: auto;
  animation: lightBoxIn 0.5s;
  transition: opacity 0.3s;
}

.lightbox {
  padding: 2rem;
}

.lightbox__fadeOut {
  opacity: 0;
}

.lightbox__next,
.lightbox__prev {
  cursor: pointer;
  border: none;
  background: url(../assets/arrow.svg) center center/35px 42px no-repeat;
  width: 35px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 100px;
  margin-top: -22px;
  z-index: 11;
  text-indent: -3000px;
}

.lightbox__next {
  transform: rotate(180deg);
}

.lightbox__prev {
  right: auto;
  left: 100px;
}

.lightbox__close {
  border: none;
  background: url(../assets/close.svg) center center/100% 100% no-repeat transparent;
  height: 40px;
  width: 38px;
  position: fixed;
  text-indent: -3000px;
  right: 100px;
  top: 50px;
  z-index: 12;
  /* width: 40px;
      height: auto; */
  /* width: 15px;
      height: 15px; */
  /* background: url('data:image/svg+xml;utf8,<svg width="98" height="109" viewBox="0 0 98 109" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M49 45.5211L8.6953 0.620251L0.6355 9.59915L40.9402 54.5L0.6355 99.4008L8.6953 108.38L49 63.4789L89.3047 108.38L97.3645 99.4008L57.0598 54.5L97.3645 9.59915L89.3047 0.620251L49 45.5211Z" fill="white"/></svg>); */
}

.lightbox button {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
  text-indent: -10000px;
}

.lightbox button:hover {
  opacity: 1;
}

.lightbox__container img {
  max-width: 100%;
  height: auto;
  animation: lightBoxIn 0.5s;
}

.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100vh;
}

.lightbox__loader {
  width: 38px;
  height: 38px;
  opacity: 0.5;
  background: url(../assets/loader.svg) center center no-repeat;
}

@keyframes lightBoxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
