@use "../utils/var_and_typo.scss" as var;

.photograph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var.$light-white;
  height: 300px;
  margin: 0 100px;
  padding: 3rem;
}

.photograph-header-descr {
  width: auto;
}

.photograph-header h1 {
  color: var.$fc-orange;
  font-size: 64px;
  font-weight: 400;
  line-height: 83px;
  margin-bottom: 1rem;
}
.photograph-header h2 {
  color: var.$main-red;
  font-size: 35px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 1.5rem;
}
.photograph-header h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.photograph-header img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

/************************** Modal *************************/

#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 1rem;
  z-index: 1000;
}

.contact_button,
.submit-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var.$main-red;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover,
.submit-button:hover {
  background-color: var.$fc-orange;
}

.modal {
  border-radius: 5px;
  background-color: var.$bg-orange;
  width: 50%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 0.5rem auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  height: 10rem;
}

.modal header img {
  cursor: pointer;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.modal header h2 {
  font-size: 55px;
  font-weight: normal;
  text-align: left;
}

form label {
  color: #312e2e;
  font-size: 32px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  font-size: 2rem;
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  padding-left: 1rem;
}

#msg {
  border-radius: 5px;
  border: none;
  height: 10rem;
  width: 100%;
  font-size: 2rem;
  padding: 1rem;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.8rem;
  color: var.$main-red;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .input {
  border: 2px solid var.$main-red;
}
input[data-error]::after {
  content: attr(data-error);
  font-size: 2rem;
  color: var.$main-red;
}

/******************************************* optioins de tri */

.photograph-sort {
  display: flex;
  align-items: baseline;
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  margin-left: 100px;
}

.photograph-sort label {
  font-weight: 700;
  font-size: 16px;
  padding-right: 15px;
}

.sort-list {
  position: relative;
}
.sort-list button {
  cursor: pointer;
  width: 160px;
  height: 50px;
  border-radius: 0;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: var.$light-white;
  text-align: left;
  background-color: var.$main-red;
  padding-left: 15px;
}

.sort-list button i {
  position: absolute;
  right: 15px;
  transition: 0.3s ease-out;
}

.sort-list button:hover,
.sort-list button:focus-visible {
  outline: none;
  background: var.$bg-orange;
  transition: background ease 0.2s;
}

.selected {
  border-radius: 5px;
}

.options {
  margin-top: -4px;
  display: flex;
  flex-direction: column;
  transform-origin: 50% 0%;
  transition: 0.2s linear;
}

.options:nth-child(1):after {
  content: " ";
  padding: 1px 70px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 45px;
  right: 10px;
}
.options:nth-child(1):before {
  content: " ";
  padding: 1px 70px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 95px;
  right: 10px;
}
.options:nth-child(2) {
  border-radius: 0 0 5px 5px;
}

.chevron-up {
  transform: rotate(-180deg);
  transition: 0.3s ease-out;
}
.hidden {
  transform: scaleY(0);
  transition: 0.2s linear;
}

/********************************** img container ********************************/

.photograph-imgs-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7rem;
  padding: 3rem;
}

.media-img-card {
  text-decoration: none;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.media-img-card img,
.media-img-card video {
  height: 30rem;
  width: 100%;
  object-fit: cover;
}

.textContainer {
  color: var.$main-red;
  margin-top: 1rem;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
}

.likeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 3rem;
  font-weight: 800;
}

.likeContainer .fa-solid,
.fa-regular {
  cursor: pointer;
  height: 1.2rem;
  width: auto;
  margin-left: 0.5rem;
}

.explain {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.likeContainer .fa-solid {
  display: none;
}

/************************************ sticky container */

.likeprice-container {
  position: sticky;
  bottom: 0;
  /* right: 0; */
  left: 80%;
  width: 25%;
  background-color: var.$bg-orange;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
}

/* heart */

.heart-checkbox input[type="checkbox"],
.heart-checkbox .checked {
  display: none;
}

.heart-checkbox {
  cursor: pointer;
}
.heart-checkbox em {
  font-size: 1.2rem;
}
.heart-checkbox .checked {
  color: var(--main-red);
  display: none;
}

.heart-checkbox input[type="checkbox"] {
  display: none;
}

.heart-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}
.heart-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

/* media queries */

@media screen and (max-width: 992px) {
  .photograph-header {
    padding: 0;
    margin: 1rem;
    flex-direction: column;
    height: 25rem;
    justify-content: space-between;
  }

  .photograph-imgs-container {
    margin-top: 4rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .likeprice-container {
    width: 50%;
  }

  .modal {
    display: flex;
    justify-content: flex-start;
    height: 90%;
    width: 90%;
    margin: 0 2rem;
    padding: 0 2rem;
    /* font-size: 1rem; */
  }

  .modal header {
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* height: 10rem; */
    /* margin-bottom: 0; */
  }

  header h2 {
    font-size: 5px;
  }

  form {
    padding: 0;
  }

  .modal label {
    font-size: 1.5rem;
  }

  .modal input {
    height: 3rem;
  }

  #msg {
    height: 5rem;
  }

  form button {
    height: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .photograph-header {
    padding: 0;
    flex-direction: column;
    margin: 1rem;
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    height: 40rem;
  }

  .photograph-header-descr,
  .photograph-header button {
    margin-bottom: 2rem;
    text-align: center;
  }
  .photograph-imgs-container {
    /* display: grid; */
    grid-template-columns: 1fr;
    /* gap: 7rem; */
    /* padding: 3rem; */
    padding-top: 5rem;
  }
  .likeprice-container {
    width: 85%;
  }
}
